* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('');

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-height: 8vh;
    background-color: rgba(68, 160, 221, 0.2);
}

.logo {
    margin-left: 10px;
    padding: 10px;

}

.logo img {
    background-image: linear-gradient(rgb(220, 150, 12), rgb(24, 56, 56));
    border-radius: 50%;
    border: 2px solid white;
    filter: blur(0.2px) saturate(1.8);
    padding: 10px;
    /* Zanimljiv efekat se dobija koriscenjem padding elementa direkno
    na sliku!*/
}

.travel-agency h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(75, 42, 42);
    transition: transform .3s ease linear;

}

.first-letter {
    font-size: 3rem;
    background-image: linear-gradient(rgb(220, 150, 12), rgb(24, 56, 56));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}


.nav-links {
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    width: 35%;

}

.nav-links li {
    list-style-type: none;
    padding: 5px
}

.nav-links li:hover {
    transform: scale(1.1);
    text-shadow: 1.3px 1.3px lightblue;

}

.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;

    font-weight: bold;
    font-size: 1.2rem;
    color: grey;
}




h1 {
    background-image: linear-gradient(rgb(58, 87, 160), rgb(52, 25, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    animation: main-header-anim 10s ease-in infinite;
}

@keyframes main-header-anim {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(3px)
    }

    50% {
        transform: translate(6px);
    }

    75% {
        transform: translate(3px);
    }

    100% {
        transform: translate(0px);
    }
}

.main-container {
    margin: 20px;
    grid-auto-flow: dense;  /* Popunjavanje "rupa" izmedju GRID elemenata*/
}

.gallery-items {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 300px;
    grid-gap: 10px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*  PROVERITI I TESTIRATI -RADI! Iskoristio sam ga radi kasnijeg SKALIRANJA (uvecanja)
    slike, kako bi uvecavala u granicama svoj roditeljskog elementa-kontejnera*/
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;

    transition: .5s ease-in-out;
    /* Povezano sa svojstvom SCALE-nacin na koji se ponasa 
    element prilikom uvecanja na SCALE 1.3 */

}

.gallery-item:hover img {
    transform: scale(1.3);
}

.gallery-item .text {
    opacity: 0;
    /* Pocetna vidljivost teksta/ */
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 20px;
    font-weight: 500;

    transform: translate(-50%, -50%);
    /* Pomeranje polozaja teksta-centriranje! VRLO KORISNO!*/
    pointer-events: none;
    /* kako bi sprecio da tekst "prima" bilo koji dogadjaj ili klik
    -kako bi mirovao!*/

    z-index: 5;
    /* Polozaj teksta IZNAD slike*/

    transition: .3s ease-in-out;

    -webkit-backdrop-filter: blur(5px) saturate(1.8);
    backdrop-filter: blur(5px) saturate(1.8);

}

.gallery-item:hover .text {
    opacity: 1;
    animation: move-down .3s linear;
    padding: 1rem;

}


@media screen and(max-width: 500px) { /* responsive za smart telefone-1 GRID KOLONA
    elementi jedan ispod drugog*/
    .main-container {
     grid-template-columns: repeat(1, 1fr);
    }
    .w-1, .w-2, .w-3, .w-4, .w-5, .w-6 {  /* PROVERITI I TESTIRATI */
        grid-column: span 1;
    }
}  

@keyframes move-down {
    0% {
        top: 10%
    }

    50% {
        top: 35%;
    }

    100% {
        top: 50%;
    }
}

/* Raspored pojedinacnih elemenata-pravljenje detaljnijeg grida-npr. od 3 kolone napravi se 1 element-slika
 */
.w-1 {
    grid-column: span 1;  /* 1. slika = 3 kolone   */
} 
.w-2 {
    grid-column: span 2;  /* 1. slika = 3 kolone   */
} 
.w-3 {
    grid-column: span 3;  /* 1. slika = 3 kolone   */
} 
.w-4 {
    grid-column: span 4;  /* 1. slika = 3 kolone   */
} 
.w-5 {
    grid-column: span 5;  /* 1. slika = 3 kolone   */
} 
.w-6 {
    grid-column: span 6;  /* 1. slika = 3 kolone   */
} 


.h-1 {
    grid-row: span 6;
}
.h-2 {
    grid-row: span 2;
}
.h-3 {
    grid-row: span 5;
}
.h-4 {
    grid-row: span 3;
}
.h-5 {
    grid-row: span 2;
}
.h-6 {
    grid-row: span 4;
}


.paragraphs {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: nowrap;
    flex-gap: 5px;

}

.paragraph {
    flex: 1;
    width: 33%;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.9);
    height: 20rem;
}

.paragraph h3 {
    text-align: center;
    color: rgb(149, 209, 232);
  
    text-transform: uppercase;
    font-size: 1.5rem;
}

.paragraph p {
   color: white;
   margin: 10px;
   padding-top: 20px;
}


footer {
    margin-top: 10px;
    outline: 2px solid rgb(6, 160, 194);
    background-color: orange;

    display: flex;
    justify-content: center;

}
footer div {
    
}